<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tp AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="CSS/style.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class="lesinputs">
        <input type="text" ng-model="todoList.todoText"  size="30" placeholder="Ajouter une société"></br></br>
        <input type="text" ng-model="todoList.todoText"  size="30" placeholder="Ajouter un secteur d'activité"></br></br>
        <input type="text" ng-model="todoList.todoText"  size="30" placeholder="Ajouter un Dirigeant"></br></br>
        <input class="btn-primary" type="submit" value="Valider"></br></br>
    </div>

    <table>
        <tr>
            <td>Société</td>
            <td>Secteur d'activité</td>
            <td>Dirigeant</td>
        </tr>
        <tr>
            <td>Accor</td>
            <td>Hôtellerie</td>
            <td>Sébastien Bazin (PDG)</td>
        </tr>
        
    </table>

</body>
</html>
